doctype html
html
  head
    title Learn to code HTML, CSS and Javascript
    Meta(Name="description", content="This is a HTML replica of w3schools.com")
    link(rel="stylesheet", href="style.css")
  body
    header
      a.current(href="/") Home
      a(href="/html") Html
      a(href="/CSS") CSS
      a(href="/JavaScript") JavaScript
  

  article
     h1 This is a replca of w3schools.com
     p I`ll go through all possiblw HTML elements as well as CSS. 
     h2 HTML
     p The language for building web pages. #[a(href="/html") Check it out!]
     h2 CSS
     p The language for styling web pages. #[a(href="/css") See awsomeness happaning!]
     h2 JavaScript
     p The language for programing web pages. #[a(href="/JavaScript") Discover the way up!]

  nav
   h3 HTML and CSS
   a(href="/html") Learn HTML
   a(href="/CSS") Learn CSS
   a(href="/JavaScript") Learn JavaScript

footer &copy; 2017 Vivy is awsome!
